@media (max-width: 1250px) {
    .contacts {
        height: 1055px;
    }

    .contacts-info {
        flex-wrap: wrap;
    }

    .map {
        margin-top: 100px;
        margin-left: 15.5px;
    }

}

@media (max-width: 1210px) {
    .favorites-items {
        justify-content: center;
        height: 2340px;
    }

    .favorites {
        max-height: 2629px;
    }
}

@media (max-width:1115px) {

    .nav-list {
        height: 0;
        box-sizing: border-box;
        position: absolute;
        top: 90px;
        right: 0;
        flex-direction: column;
        background-color: #0C0C0E;
        padding: 0 107px;
        text-align: center;
        transition: all .3s ease;
        overflow: hidden;
    }

    .nav-list--opened {
        height: 470px;
    }

    .burger-btn {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
    }

    .opened .top {
        transform: rotate(45deg);
        transform-origin: 9% 15%;

    }

    .opened .mid {
        opacity: 0;

    }

    .opened .bot {
        transform: rotate(-45deg);
        transform-origin: 15% 95%;

    }

    .card {
        justify-content: center;
    }

    .Library-card {
        height: 857px;
    }

    .get-card {
        margin-top: 20px;
        align-items: center;
    }

    .youwill {
        text-align: center;
    }
}

@media (max-width:950px) {
    .CoffeeShop {
        height: 1481px;
    }

    .coffee {
        margin: 40px 0;
    }
}


@media (max-width:768px) {
    .tablet {
        display: flex;
    }

    .navigation {
        width: 120px;
    }

    .image-items {
        width: 460px;
    }
}