* {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    background-color: #0C0C0E;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 0;
    height: 90px;
}


.broklin {
    color: white;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 2px;
}

.nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.nav-list li {
    transition: all .3s ease;
}

.list {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: white;
}

.nav-list li:hover {
    transform: scale(1.2);
}

.profile {
    display: flex;
    margin-left: auto;

}

.icon__auth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #BB945F;
    cursor: pointer;
}

.profile img {
    cursor: pointer;
}

.menu__no-auth,
.menu__auth {
    position: fixed;
    top: 90px;
    right: 0;
    width: 80px;
    padding: 5px 0 20px;
    background-color: #FFFFFF;
}

.menu__title {
    box-sizing: border-box;
    padding-bottom: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

.auth {
    font-size: 12px;
}

.menu__line {
    width: 40px;
    height: 1px;
    background-color: #BB945F;
    border: none;
    margin: 0 auto;
}

.login__inner {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login__inner p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    cursor: pointer;
}

.burger-btn {
    display: none;
    padding: 5px;
    margin-left: 40px;
    cursor: pointer;
}

.burger-btn span {
    transition: .2s ease all;
}

.top {
    width: 45px;
    height: 2px;
    background-color: #fff;
}

.mid {
    width: 45px;
    height: 2px;
    background-color: #fff;
}

.bot {
    width: 45px;
    height: 2px;
    background-color: #fff;
}

.welcome-bg {
    background-image: url("../images/welcome.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    padding-top: 220px;
}

.welcome {
    background-color: #0C0C0E;
    color: white;
    width: 600px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-text {
    width: 520px;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.title {
    display: flex;
    justify-content: center;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2px;
    color: #0C0C0E;
    padding-bottom: 20px;
    margin-top: 20px;
}

.center {
    width: 50px;
    height: 1px;
    background-color: #0C0C0E;
    border: none;
    margin: 0 auto;
}

.description {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.image-items {
    display: flex;
    overflow: hidden;
    width: 1400px;
    margin: 0 auto;

}

.slides {
    display: flex;
    transition: all .6s ease;
    width: 1440px;
}

.images {
    transition: all .6s ease;
}


.nav-bar {
    margin: 40px 0;
    display: flex;
    justify-content: center;
}

.navigation {
    display: flex;
    width: 68px;
    justify-content: space-around;
}

.bar {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #0C0C0E;
    gap: 10px;
    border: none;
}

.tablet {
    display: none;
}

.bar:hover {
    background-color: #BB945F;
    cursor: pointer;
}

.favorites {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    max-height: 1440px;
    padding: 0 20px;
}



.pick {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-top: 40px;
    align-self: start;
}

.seasons {
    margin-top: 40px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-self: start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.season {
    display: flex;
    align-items: center;
}

input[type="radio"] {
    margin-right: 20px;
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #000000;
}

input[type="radio"]:checked+label {
    font-weight: 700;
}


.favorites-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    height: 1150px;
    margin-top: 40px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fadeIn {
    animation: fadeIn 1s ease-in-out;
}

.fadeOut {
    animation: fadeOut 1s ease-in-out;
}

.first-book {
    position: relative;
    width: 550px;
    height: 555px;
    border: 1px solid black;
}

.staff {
    margin-top: 15px;
    margin-left: 20px;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
}

.left {
    width: 60px;
    height: 1px;
    background-color: #BB945F;
    border: none;
}

.name-book {
    margin-top: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.writter {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 2px;
}

.desc-book {
    margin-top: 20px;
    width: 355px;
    height: 320px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.buy {
    margin-top: 15px;
    width: 75px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    background-color: white;
    border: 1px solid #0C0C0E;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buy:disabled {
    cursor: default;
}

.buy:not(:disabled):hover {
    background-color: #BB945F;
    border: 1px solid #BB945F;
}

.Own {
    margin-top: 15px;
    width: 75px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    background-color: white;
    border: 1px solid #BB945F;
    border-radius: 2px;
    color: #BB945F;
    cursor: pointer;
}

.book {
    position: absolute;
    bottom: -1px;
    right: -40px;
}

.CoffeeShop {
    display: flex;
    flex-direction: column;

    height: 841px;
    padding: 0 20px;
}

.coffe-desc {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.coffee {
    margin-top: 40px;
}

.deserts {
    margin: 40px 0;
    margin-left: auto;
}

.menu-item {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1px;
    margin-right: 60px;
    width: 197px;

}

.item-line {
    width: 100px;
    height: 1px;
    border: none;
    background-color: #BB945F;
    margin-right: 60px;
}

.price {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
}

.contacts {
    height: 575px;
    display: flex;
    flex-direction: column;
}

.contacts-info {
    display: flex;
    justify-content: space-between;
    margin: 40px 20px 0 20px;
}


.phone-info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400px;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
}

.number {
    text-decoration: none;
    color: black;
}

.mail {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.Library-card {
    height: 614px;
    box-sizing: border-box;
}

.card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px 20px 0 20px;
}

.find {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.card-body {
    height: 386px;
    width: 600px;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 2px #BB945F;
    padding: 20px 20px 30px 20px;
}

.card-bg {
    background-color: #BB945F;
    padding: 20px 20px 25px 20px;
}


.card-title {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
}

.input-text {
    width: 100%;
    height: 66px;
    border: none;
    border-radius: 10px;
    padding: 8px 0 8px 20px;
    box-sizing: border-box;
}

.input-text::placeholder {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.02em;
    color: #8E8E8E;
}

.input-text {
    display: flex;
    align-items: center;
}

.check-card {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.check {
    width: 242px;
    height: 44px;
    background-color: white;
    border: 1px solid #0C0C0E;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #0C0C0E;
    cursor: pointer;
    transition: all 0.2s ease;
}

.check:hover {
    background-color: #BB945F;
    border: 1px solid #BB945F;
}

.get-card {
    width: 456px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.getcard {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
    letter-spacing: 0.02em;
    margin-bottom: 35px;
}

.youwill {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: right;
    letter-spacing: 0.02em;
    margin-bottom: 35px;
}


.sign-up {
    width: 75px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    background-color: white;
    border: 1px solid #0C0C0E;
    border-radius: 2px;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.log-in {
    width: 75px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    background-color: white;
    border: 1px solid #0C0C0E;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sign-up:hover,
.log-in:hover {
    background-color: #BB945F;
    border: 1px solid #BB945F;
}

.footer {
    background-color: #0C0C0E;
    height: 270px;
    box-sizing: border-box;
    padding: 20px 20px 0 20px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.adress {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 10px;

}

.social {
    list-style-type: none;
    gap: 15px;
    display: flex;
    padding: 8px 0;
}

.day {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: right;
}

.footer-rss {
    margin-top: 44px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.rss {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.modal {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.modal__login,
.modal__reg {
    box-sizing: border-box;
    position: relative;
    width: 250px;
    height: 382px;
    background-color: rgb(255, 255, 255);
    cursor: default;
    padding: 20px 25px;
    margin: 90px auto;
}

.modal__login {
    height: 262px;
}

.modal__close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.modal__title {

    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 20px;
}

.modal__inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}

.modal__inner button {
    margin-top: 10px;
}

.modal__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #000000;
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal__input {
    box-sizing: border-box;
    width: 100%;
    height: 20px;
    border: 1px solid #BB945F;
    outline: none;
    padding: 2px 5px;
}

.modal__aside {
    display: flex;
}

.modal__aside-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    margin-right: 10px;
}

.modal__aside-btn {
    background-color: transparent;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-decoration-line: underline;
    color: #0C0C0E;
    cursor: pointer;
}

.modal__profile {
    width: 600px;
    height: 400px;
    margin: 100px auto;
    position: relative;
    display: flex;
}

.modal__sidebar {
    box-sizing: border-box;
    background-color: #0C0C0E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
    gap: 15px;
}

.prof {
    top: 25px;
    right: 25px;
}

.modal__icon {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #BB945F;
}

.modal__name {
    box-sizing: border-box;
    background-color: #fff;
    padding: 5px;
    width: 120px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;

}

.modal__content {
    box-sizing: border-box;
    background-color: #fff;
    padding: 39px 20px;
    width: 430px;
}

.modal__content-title {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.modal__counters {
    display: flex;
    width: 237px;
    justify-content: space-between;
}

.modal__counters-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.counter__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
}

.modal__counter {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
}

.modal__books {
    margin-top: 20px;
}

.modal__books-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 20px;
    color: #0C0C0E;
    margin-bottom: 30px;
}

.modal__books-list {
    max-height: 50px;
    overflow-y: auto;
}

.modal__books-list li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-left: 20px;
}

.modal__card {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 281px;
}

.modal__card-item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #0C0C0E;
}

.modal__card-number {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #BB945F;
}

.modal__card-copy {
    cursor: pointer;
}

.modal__buy {
    width: 640px;
    height: 540px;
    margin: 90px auto;
}

.buy__header {
    background-color: #0C0C0E;
    padding: 20px 0;
    position: relative;
}

.buy__header-title {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.buy__content {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px 40px;
    background-color: #fff;
}

.buy__form {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.exp-code__inner {
    display: flex;
}

.exp-code {
    width: 45px;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
}

.buy__content-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #8E8E8E;
    width: 330px;
}

.form__aside {
    display: flex;
}

#buyInForm {
    margin-top: 10px;
    width: 75px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    background-color: white;
    border: 1px solid #0C0C0E;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#buyInForm:disabled {
    cursor: default;
}

#buyInForm:not(:disabled):hover {
    background-color: #BB945F;
    border: 1px solid #BB945F;
}

.form__aside span {
    margin-left: 25px;
    margin-top: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #0C0C0E;
}

.none {
    display: none;
}

.show {
    display: flex;
}